
.sidebar {
    float: left;
      margin: 0px;
      padding: 0;
      width: 100px;
      background-color: #f1f1f1;
      position: fixed;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 10px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
/*  
    #aboutme::before{
      content: "\f007";
      font-family: FontAwesome;
      display: block;

    }  */

   
    