 
 /* Initializing padding and border */
*{padding: 0px;margin: 0px;box-sizing: border-box;font-size: 2rem;}

/* Background image */
body{align-items: center;text-align: center;background-image: url("../images/background.jpeg");background-color: #cccccc;background-position: center; /* Center the image */background-repeat: no-repeat; /* Do not repeat the image */background-size: cover; /* Resize the background image to cover the entire container */}

/* Navbar margins */
.navbar {margin-left: 100px;margin-right: 100px}

.navbar-nav>li>a{
  color: white;
  margin-right: 50px;
}

/* Profile pic */
img{width: auto;height: 500px;background-image: url("../images/portfolioPic.jpg");background-size: cover; /* Resize the background image to cover the entire container */}

/* Using clip-polygon for profile pic */
.clip-polygon {clip-path: polygon(49% 100%, 100% 90%, 100% 0, 0 0, 0 90%);}

/* Scroll to top button properties */
.scrollToTop{
  display:none;
  position:fixed;
  bottom: 20px;
  left:20px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 15px;
  background-color: thistle;
  border-radius: 50px;
  font-size: 18px;
 }


/* Start of Content */
section.content {margin-left: 100px;margin-right: 100px;}
.card-title{font-family: 'Patua One', cursive,sans-serif;font-size: 2.5rem;}

/* Start of links to social medias and resume */
#jobTitle{font-family: 'Patua One', cursive,sans-serif;font-size: 18px;color: red;}
.socialSites{font-size: 20px;}
.downloadCV{float: left;}
.contactMe{float: right;}

/* Vertial line on the browser */
.vl {float: middle;border-left: thin solid black ;}

/* Title to all page */
#pageTitle{color: red;text-align: left;font-family: 'Patua One', cursive,sans-serif;}

/* Start of about me page */
#aboutMeParagraph{float: left;text-align: left;font-family: 'Abel', cursive,sans-serif;font-size: 2.5rem;}
.addressDivAboutMe{float: right;}
#aboutme,#resume,#works,#contact {margin-left: 100px;margin-right: 100px;}

/* table content disabled */
td input#disabledInput{margin-left: auto;margin-right: auto;width: 30%;border-radius: 50px;}
.boxDesign{color: red; text-align: center;}
p{text-align: center;}

/* Resetting images to fit the screen */
.resetimages{max-height: 30vh;max-width: 100%;}

/* Responsiveness to different screen size */
@media screen and (max-width: 640px) {
  section.content,#aboutme,#resume,#works,#contact {margin-left: 20px;margin-right: 20px;}
  
  .vl{display: none;}
  .contactMe,.downloadCV{float: none;}
  td input#disabledInput {width: 100%;}
  .navbar {margin-left: 20px;margin-right: 20px;}
}
/* End of page */

