 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

body{
    margin: 100px;
    align-items: center;
    text-align: center;
    background-image: url("../images/background.jpeg");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}


img{
     width: auto;
    height: 500px;
    background-image: url("../images/portfolioPic.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */

   
}

.sidebar {
  float: left;
    margin: 0px;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
   
    margin-left: 100px;
    padding: 1px 16px;
  }

  .card-title{
    font-family: 'Patua One', cursive,sans-serif;
    font-size: 2.5rem;
  }
  #jobTitle{
    font-family: 'Patua One', cursive,sans-serif;
    font-size: 18px;
    color: red;

  }
  .socialSites{
    font-size: 20px;
  }

  .downloadCV{
    float: left;
  }


  .contactMe{
    float: right;
  }



  .vl {
    float: middle;
    border-left: thin solid black ;
  }

  #aboutMeTitle,#resumeTitle{
    color: red;
    text-align: left;
    font-family: 'Patua One', cursive,sans-serif;
    font-size: 2rem;

  }

  #aboutMeParagraph{
    float: left;
    text-align: left;
    font-family: 'Abel', cursive,sans-serif;
    font-size: 1.5rem;

  }

  .addressDivAboutMe{
    float: right;
  }

  #aboutme,#resume,#works,#contact {
    margin-left: 100px;
    padding: 1px 16px;
  }

  

  .boxDesign{
    background: pink;
  }

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      bottom: 20px;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0px;float: none; width: auto;}

    hr {
        display:none;
      }
      #aboutme,#resume, #works, #contact {
        margin-left: 0px;
      }
     
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    #aboutme {
      margin-left: 0px;
      float: none;
    }
  }

  .clip-polygon {
    clip-path: polygon(49% 100%, 100% 90%, 100% 0, 0 0, 0 90%);}
