 
 /* Initializing padding and border */
*{padding: 0;margin: 0;box-sizing: border-box;font-size: 2rem;}

/* Background image */
body{align-items: center;text-align: center;background-image: url("../images/background.jpeg");background-color: #cccccc;background-position: center; /* Center the image */background-repeat: no-repeat; /* Do not repeat the image */background-size: cover;
/* Resize the background image to cover the entire container */}

/* Navbar margins */
.navbar {
  background-color: rgb(219, 70, 70);
  margin-top: 10px; margin-left: 40px;margin-right: 40px;height: 65px;}


.navbar-nav>li>a{
  
  color: rgb(255, 250, 240);
  margin-left: 100px;
  margin-right: 40px;
  font-size: 24px;
}

/* Profile pic */
.backgroundImg{width: auto;height: 500px;background-image: url("../images/portfolioPics.jpeg");background-size: cover; /* Resize the background image to cover the entire container */}

/* Using clip-polygon for profile pic */
.clip-polygon {clip-path: polygon(49% 100%, 100% 85%, 100% 0, 0 0, 0 85%);}

/* Scroll to top button properties */
.scrollToTop{
  display:none;
  position:fixed;
  bottom: 20px;
  left:20px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 15px;
  background-color: rgb(238, 23, 238);
  border-radius: 50px;
  font-size: 18px;
 }

h1.nameTitle{
  font-size: 60px;
  color: #e6f3f2;
}

.seo {
  font-size: 48px;
  width: 25%; /**/color: #d9dcd6;
}

/* Start of Content */
section.content {margin-left: 40px;margin-right: 40px;}
.card-title{font-family: 'Patua One', sans-serif;font-size: 2.5rem;}

/* Start of links to social medias and resume */
#jobTitle{font-family: 'Trebuchet MS','Patua One',sans-serif;font-size: 28px;color: rgb(8, 8, 8);}
.socialSites{font-size: 20px;}
.downloadCV{float: left;color: #d9dcd6;}
.contactMe{float: right;color:  #d9dcd6;}

.fa-facebook, .fa-github, .fa-linkedin,.fa-download,.fa-address-book{
  padding: 20px;
  font-size: 35px;
  color:#30024bb9;
}

/* Vertial line on the browser */
.vl {float: middle;border-left: thin solid #ffffff;}

/* Title to all page */
#pageTitle{color: blue;text-align: center;font-family: 'Patua One', cursive,sans-serif;font-size: 60px;}

#pageTitleAboutMe{
  text-align: left;color:rgb(10, 64, 243);
  font-family: 'Patua One', cursive,sans-serif;font-size: 60px;

}

/* Start of about me page */
#aboutme{background-color: rgba(57, 206, 65, 0.52);min-height:600px;margin-top: 20px;}
#resume{background-color:rgba(57, 206, 65, 0.52);margin-top: 20px;}
#works{background-color:rgba(57, 206, 65, 0.52);margin-top: 20px;}
#contact{background-color:rgba(140, 184, 39, 0.856);margin-top: 20px;margin-bottom: 20px;}

#aboutMeParagraph{float: left;font-size: 30px;color:rgb(19, 19, 92);font-family:'Nanum';}
.addressDivAboutMe{float: right;}
#aboutme,#resume,#works,#contact {margin-left: 40px;margin-right: 40px;}

/* table content disabled */
td input#disabledInput{margin-left: auto;margin-right: auto;width: 30%;border-radius: 50px;}
.boxDesign,.ph{color: rgba(39, 33, 32, 0.945); text-align: center;font-size: 24px;}
p{text-align: left;font-size: 24px;color:rgb(19, 19, 92)}
.subtitleResume{font-size: 26px;color: blue;}

.lastPageContacts{
  color: #ffffff;
}

/* Resetting images to fit the screen */
.resetimages{max-height: 30vh;max-width: 100%;}

/* Responsiveness to different screen size */
@media screen and (max-width: 640px) {
  section.content,#aboutme,#resume,#works,#contact {margin-left: 20px;margin-right: 20px;}
  
  .vl{display: none;}
  .contactMe,.downloadCV{float: none;}
  td input#disabledInput {width: 100%;}
  .navbar {margin-left: 20px;margin-right: 20px;height:auto;}
  .backgroundImg{
    background-size: cover;
    height: 200px;
  }
  h1.nameTitle{
    font-size: 30px;
  }

  .seo,#jobTitle {
    font-size: 22px;
  }

}
/* End of page */

