
.scrollToTop{
    width:70px; 
    height:70px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom: 100px;
    left:100px;
    display:none;
    background: url('') no-repeat 0px 20px;
    border-radius: 50px;
}
.scrollToTop:hover{
    text-decoration:none;
}